* {
    margin: 1rem;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Proxima Nova Soft', 'Helvetica Neue', sans-serif; 
}

/* * {
    background-color: darkslategray;
} */

.header {
    font-size: 5rem;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    flex-grow: inherit;
}

/* .main {
    padding-left: 1em;
    font-size: 3rem;
    text-align: center;
} */

/* .h2 {
    font-size: 2rem;
} */

/* .links {
    font-size: 2rem;
    background-color: transparent;
    color: chartreuse;
} */

.links:hover {
    
    
}