body {
    background-image: url("bg-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    back
}

.title{
    font-size: 1.9rem;
    font-weight: 742;
    color: rgb(22, 21, 21)
}
.subtitle{
    font-size: 1.3rem;
    color: rgb(190, 184, 184);
    font-weight: 735;
    
    margin-bottom: 1em;
    opacity: 1em;
}
.partition{
    font-size: .8rem;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: bold;
}

.teardrop-container {
    border: 0px solid black;
    width: 15rem;
    height: 15rem;
    right: 17rem;
    bottom: 1rem;
    background-color: red;
    color: white;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 20px;
}

.teardrop-container h3 {
    font-size: 1.25rem;
    font-weight: bold;
    background-color: red;
}

.overlay{
    height: 110vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    z-index:  -1;
}