.navbar-transparent-25 {   
    background-color: rgba(0, 0, 0, 0.6);
}

.header {
    min-height: 80px;
   
}

.hero {
    background-image: url("https://via.placeholder.com/350x150");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.fab {
    font-size: 3rem;
    color: white;
    padding-left: 3rem;
}

.navbar-nav {
    font-size: 20px;
    font-weight: 700;
}

.h1 {
    font-size: 6rem;
    font-weight: 700;
    
}

.hover  {
    color: #1ED760;
}