.navbar-transparent-25 {   
    background-color: rgba(0, 0, 0, 0.6);
}

.header {
    min-height: 80px;
   
}

.hero {
    background-image: url("https://via.placeholder.com/350x150");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.fab {
    font-size: 340%;
    color: rgb(65, 58, 58);
}

.navbar-nav {
    font-size: 20px;
    font-weight: 700;
}